# Pre-processing

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("data/regression/insurance.csv", decimal = ",")

In [3]:
data.head()

   age     sex     bmi  children smoker     region      charges
0   19  female    27.9         0    yes  southwest    16884.924
1   18    male   33.77         1     no  southeast    1725.5523
2   28    male      33         3     no  southeast     4449.462
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male   28.88         0     no  northwest    3866.8552

In [4]:
# Drop duplicate rows:
data = data.drop_duplicates()

In [5]:
# One-hot encoding column "region":
data = pd.get_dummies(data, columns = ["region"], dtype = "int64")
# Map column "smoker" to boolean:
data["smoker"] = data["smoker"].map({"yes": 1, "no": 0})
# Map column "sex" to boolean:
data["sex"] = data["sex"].map({"female": 1, "male": 0})
data.head()

# Convert bmi and charges to numeric:
data["bmi"] = pd.to_numeric(data["bmi"])
data["charges"] = pd.to_numeric(data["charges"])

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1337 entries, 0 to 1337
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   age               1337 non-null   int64
 1   sex               1337 non-null   int64
 2   bmi               1337 non-null   float64
 3   children          1337 non-null   int64
 4   smoker            1337 non-null   int64
 5   charges           1337 non-null   float64
 6   region_northeast  1337 non-null   int64
 7   region_northwest  1337 non-null   int64
 8   region_southeast  1337 non-null   int64
 9   region_southwest  1337 non-null   int64
dtypes: float64(2), int64(8)
memory usage: 114.9 KB

In [7]:
data.head()

,age,sex,bmi,children,smoker,charges,region_northeast,region_northwest,region_southeast,region_southwest
0,19,1,27.900,0,1,16884.92400,0,0,0,1
1,18,0,33.770,1,0,1725.55230,0,0,1,0
2,28,0,33.000,3,0,4449.46200,0,0,1,0
3,33,0,22.705,0,0,21984.47061,0,1,0,0
4,32,0,28.880,0,0,3866.85520,0,1,0,0

In [8]:
# Save preprocessed data:
data.to_parquet("data/regression/insurance_preprocessed.parquet", index = False)